## Dataset de Viviendas en España
### Viviendas en España por régimen de tenencia y tipo de edificación.
### Unidades: miles de viviendas

Fuente: Instituto Nacional de Estadística. Ref:

In [1]:
# importaciones básicas
import numpy as np
import pandas as pd

In [2]:
num_vivienda = pd.read_csv('./data/dataset6_vivienda_reg_ten.csv', sep=';')
num_vivienda

                 Tipo de edificación Régimen de tenencia  periodo    Total
0                              Total               Total     2020  18754,8
1                              Total               Total     2019  18625,7
2                              Total               Total     2018  18535,9
3                              Total               Total     2017  18472,8
4                              Total               Total     2016  18406,1
..                               ...                 ...      ...      ...
219  Edificio destinado a otros usos           Alquilada     2017      7,9
220  Edificio destinado a otros usos           Alquilada     2016      7,9
221  Edificio destinado a otros usos           Alquilada     2015      5,8
222  Edificio destinado a otros usos           Alquilada     2014      6,5
223  Edificio destinado a otros usos           Alquilada     2013     17,5

[224 rows x 4 columns]

In [3]:
num_vivienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Tipo de edificación  224 non-null    object
 1   Régimen de tenencia  224 non-null    object
 2   periodo              224 non-null    int64
 3   Total                224 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.1+ KB

In [4]:
num_vivienda.columns

Index(['Tipo de edificación', 'Régimen de tenencia', 'periodo', 'Total'], dtype='object')

In [5]:
num_vivienda.rename(columns={'Tipo de edificación':'tipo_edif', 
                                     'Régimen de tenencia': 'regimen_ten', 
                                     'Total': 'total'}, inplace=True)

In [6]:
num_vivienda['tipo_edif'].value_counts()

Total                                     32
Vivienda unifamiliar independiente        32
Vivienda unifamiliar adosada o pareada    32
Edificio con dos viviendas                32
Edificio de 3 a 9 viviendas               32
Edificio con 10 o más viviendas           32
Edificio destinado a otros usos           32
Name: tipo_edif, dtype: int64

In [7]:
num_vivienda['regimen_ten'].value_counts()

Total                                                      56
Propia por compra, totalmente pagada, heredada o donada    56
Propia con pagos pendientes                                56
Alquilada                                                  56
Name: regimen_ten, dtype: int64

In [9]:
num_vivienda['total'] = num_vivienda['total'].str.replace(",",".")
num_vivienda['total']

0      18754.8
1      18625.7
2      18535.9
3      18472.8
4      18406.1
        ...
219        7.9
220        7.9
221        5.8
222        6.5
223       17.5
Name: total, Length: 224, dtype: object

In [10]:
num_vivienda['total'] = num_vivienda['total'].astype(float)
num_vivienda['total'].dtype

dtype('float64')

In [14]:
num_vivienda['total'] = num_vivienda['total']*1000

In [15]:
num_vivienda

                           tipo_edif regimen_ten  periodo       total
0                              Total       Total     2020  18754800.0
1                              Total       Total     2019  18625700.0
2                              Total       Total     2018  18535900.0
3                              Total       Total     2017  18472800.0
4                              Total       Total     2016  18406100.0
..                               ...         ...      ...         ...
219  Edificio destinado a otros usos   Alquilada     2017      7900.0
220  Edificio destinado a otros usos   Alquilada     2016      7900.0
221  Edificio destinado a otros usos   Alquilada     2015      5800.0
222  Edificio destinado a otros usos   Alquilada     2014      6500.0
223  Edificio destinado a otros usos   Alquilada     2013     17500.0

[224 rows x 4 columns]

In [ ]:
num_vivienda.to_csv('./data/clean/v_num.csv', encoding='utf-8', index=False)